/* reset */
* {
	margin: 0;
	padding: 0;
}

body {
	font-size: 14px;
	color: #333;
	font-family: "Microsoft YaHei";
}

ul,li {
	list-style: none;
}

a {
	text-decoration: none;
	cursor: pointer;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: normal !important;
}

input,button,textarea,select {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	vertical-align: middle;
}

/* 登陆页面*/
.contents_q {
	width: 1126px;
	margin: 0px auto;
}

.part1 { /*border: 1px solid black;*/
	width: 395px;
	float: left;
	height: 470px;
	margin-left: 148px;
}
.part2 { /*border: 1px solid black;*/
	width: 262px;
	float: left;
	height: 420px;
	margin: 0px 28px;
}

.top {
	width: 1124px;
	margin: 0px auto;
}

.main_q {
	margin: 65px 0px 0 0;
	height: 440px;
}

.img211 {
	float: left;
	margin: 2px 0;
}

.img21 {
	margin: 0px 0px 29px 0px;
}

.denglu {
	width: 258px;
	height: 259px;
	border: 6px solid #fff;
	background: #fff;
}

.denglu_top {
	width: 230px;
	font-size: 22px;
	color: #333;
	margin: 10px 0px 0px 18px;
	position: relative;
}

.denglu_span {
	width: 230px;
	height: 18px;
	font-size: 12px;
	color: red;
	margin: 0px 18px;
}

.names {
	width: 208px;
	height: 28px;
	margin: 0px 18px;
	border: 1px solid #B7A8A8;
}

.mima {
	width: 208px;
	height: 28px;
	margin: 10px 18px;
	border: 1px solid #B7A8A8;
}

.dxyzm {
	width: 80px;
	height: 28px;
	margin: 0px 18px;
	border: 1px solid #B7A8A8;
}

._input {
	background: none;
	border: none;
	height: 18px;
	width: 178px;
	position: absolute;
	margin: 5px 5px;
	outline: none;
}

._dxyzm_input {
	background: none;
	border: none;
	height: 18px;
	width: 80px;
	position: absolute;
	margin: 5px 5px;
	outline: none;
}

._input_button {
	height: 30px;
	width: 120px;
	margin: 0px 88px;
}

.jiazhumima {
	font-size: 12px;
	color: #333;
	margin: 6px 19px;
	position: absolute;
	top: -3px;
}

.foot {
	height: 50px;
	background: #434343;
	width: 100%;
	position: absolute;
	bottom: 0;
}

.jiazhu {
	margin: 5px 15px;
	position: relative;
}

.dengluq {
	width: 215px;
	height: 33px;
	background: #ef492f;
	text-align: center;
	line-height: 33px;
	color: white;
	font-size: 17px;
	font-weight: 900;
	margin: 7px 0px;
}

.cc {
	margin: 0px 0px;
	position: absolute;
}

.tips {
	width: 270px;
	height: 120px;
	background: #2f5eef;
	position: absolute;
	margin: 120px -6px;
}

.foot p {
	text-align: center;
	line-height: 50px;
	color: #fff;
}

.index_head {
	width: 1126px;
	margin: 0px auto;
	text-align: center;
	position: relative;
	margin-top: 20px;
}

.index_head h1 {
	display: inline-block;
	color: #fff;
	text-align: center;
	line-height: 83px;
	font-size: 36px;
}

.index_head img {
	float: left;
	position: absolute;
	left: 250px;
}

.denglu_top a {
	display: inline-block;
	height: 10px;
	font-size: 12px;
	color: #333;
	position: relative;
	text-indent: 20px;
	position: absolute;
	top: 20px;
	right: 10px;
}

.denglu_top img {
	position: absolute;
	left: 0px;
	top: 0px;
}