<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:javaee="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  	<javaee:display-name>dwrtest2</javaee:display-name>
  
    <!--	启动顺序：context-param====listener====filter====servlet  -->
    <!-- ========================Spring配置================================ --> 
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:applicationContext.xml</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
    <!-- 防止spring内存溢出监听器 -->
	<listener>
		<listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
	</listener>
	
  	<!-- ========================设置编码=================================== -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<async-supported>true</async-supported> 
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- ========================Spring MVC servlet========================= -->  
    <servlet>  
        <servlet-name>SpringMVCAop</servlet-name>  
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>  
        <init-param>  
            <param-name>contextConfigLocation</param-name>  
            <!-- /WEB-INF/springmvc-servelet.xml或者不需要配置，但名称为dipatcher-servlet.xml -->
            <param-value>classpath:springmvc-servelet.xml</param-value>  
        </init-param>  
        <load-on-startup>1</load-on-startup>  
        <async-supported>true</async-supported> 
    </servlet>  
    <servlet-mapping>  
        <servlet-name>SpringMVCAop</servlet-name>  
        <!-- 此处可以可以配置成*.do等，对应struts的后缀习惯 -->  
        <url-pattern>*.do</url-pattern>  
    </servlet-mapping>
    
    <!-- DWR实时推送  dwr配置在springmvc中，从Spring MVC servlet进入，同时在springmvc配置文件中配置了处理相应请求的类-->  
	<servlet-mapping>
		<servlet-name>SpringMVCAop</servlet-name>
		<async-supported>true</async-supported> 
		<url-pattern>/dwr/*</url-pattern>
    </servlet-mapping>
</web-app>