<?xml version="1.0" encoding="UTF-8"?>
<root>
    <!-- 用于标识系统， 1.深圳交警   2.乌海   3.宝安/龙华-->
    <sysFlag>1</sysFlag>
    <!-- 海康云图片 http://190.15.0.57:8989/picServer/services/InAccess?wsdl -->
    <hkPic>http://190.15.0.57:8989/picServer/</hkPic>
    <!-- 停车场图片 -->
    <picCall>http://10.42.31.221:8989/picCall/services/piccall?wsdl</picCall>
    <!-- 科技处图片 -->
    <kjcPic>http://10.42.31.224:8000/</kjcPic>
    <username>xinghuo</username>
    <token>44f72d05430144a29e00f026ecb5cc6a</token>
    
	<!--
		日志存放文件目录 ,注意 Linux：/home/esLog/dyst/ windows：D:/esLog/dyst
	-->
	<logFolder>/home/dyst/esLog/dyst/</logFolder>
	
	
	<!--生产库与历史库查询时间分界点：几天前的数据 （注：深圳只查询历史库） -->
	<beforeDate>-100</beforeDate>
	<!--单页最大返回记录数 -->
	<pageCount>50000</pageCount>
	<!-- 全部数据查询时最大返回查询记录数 -->
	<maxCount>50000</maxCount>
	<!-- 最大允许排序数最大记录  不能超过一百万-->
	<maxOrder>40000</maxOrder>
	<!-- ES初始化连接数 -->
	<initConnection>4</initConnection>
	<!-- ES连接池最大允许连接数 -->
	<maxConnection>60</maxConnection>
	<!-- ES连接池连接超时时间，默认为10000毫秒 -->
	<timeOut>1000</timeOut>
	<!--
		serverIp:集群服务器IP地址集合，多个IP以半角“,”分开，中间不留空格
		深圳：172.18.207.1,172.18.207.2,172.18.207.3,172.18.207.4,172.18.207.5,172.18.207.6,172.18.207.7,172.18.207.8,172.18.207.9
	-->
	<serverIp>172.18.207.10,172.18.207.11</serverIp>
	<!-- 集群名称         深圳：police_vehicle  -->
    <clusterName>police_vehicle</clusterName>


	<!-- ++++++++++++++++++mysql数据库配置信息++++++++++++++++++++++ -->
	<!--生产库mysql数据库用户名-->
	<user>root</user>
	<!--生产库mysql数据库密码
		深圳：jcbkzhzx110
	-->
	<pwd>jcbkzhzx110</pwd>
	<!--
		生产库mysql数据库URL,IP,端口号，实例名 
		深圳：10.42.127.81:3306
	-->
	<url>jdbc:mysql://10.42.127.81:3306/dc?useUnicode=true&amp;characterEncoding=utf-8</url>
	<!--生产库mysql数据库驱动-->
	<driver>com.mysql.jdbc.Driver</driver>
	<!--生产库mysql数据库连接池最大允许连接数-->
	<dbMaxCon>60</dbMaxCon>
	<!--生产库mysql数据库默认初始化连接数-->
	<dbInit>4</dbInit>
	<!-- 连接池连接超时时间，默认为10000毫秒 -->
	<dbtimeOut>1000</dbtimeOut>


	<!--+++++++++++++++以下为图片查询接口配置信息+++++++++++++++++++++++++++ -->

	<!-- http图片路径前缀，即部署到tomcat下的域名
	-->
	<picURL>http://10.42.127.79:8989/pic</picURL>
	<!-- 缓存路径  -->
	<CacheUrl>/home/dyst/picbuf</CacheUrl>
	<!-- 过车数据上传违法图片路径 -->
	<gcscpicUrl>/home/dyst/epolice</gcscpicUrl>
	<!-- 违法图片访问url -->
	<wftpURL>http://10.42.127.79:8989/epolice</wftpURL>
	<!-- 图片地址查询时，一次性查询个数，即线程数，最佳配置为机器CPU数 -->
	<threadNum>10</threadNum>
	
	<!-- 定时加载监测点  -->
	<getJcdTime>1800000</getJcdTime>
	<!-- 定时加载一级红名单  -->
	<getJjhomdTime>1800000</getJjhomdTime>
	
	
	<!--  蒙C   粤B-->
    <qz1>粤</qz1>
    <qz2>粤B</qz2>
    
    
    <!-- ==========kafka 相关参数 ========== -->
    <isInsertLog>1</isInsertLog>
    <!-- zookeeper连接地址 
    	10.42.127.74:2181,10.42.127.75:2181,10.42.127.76:2181,10.42.127.77:2181,10.42.127.78:2181
    -->
    <zkCon>10.42.127.74:2181,10.42.127.75:2181,10.42.127.76:2181,10.42.127.77:2181,10.42.127.78:2181</zkCon>
    <!-- 日志信息分隔符 -->
    <splitStr>#</splitStr>
    <!-- 业务日志主题名 -->
    <businessTopic>business_log</businessTopic>
    <!-- 错误日志主题名 -->
    <errorTopic>error_log</errorTopic>
    <!-- 一次提交的数量 -->
    <bulkCount>10</bulkCount>
    
    
	<!--
		+++++++++++++++++++++++++++接口查询中涉及到的错误码配置 +++++++++++++++++++++++++++
	-->
	<!-- 图片地址查询时，一次性查询个数，即线程数，最佳配置为机器CPU数 -->
	<errorCode01>01:调用单位不合法</errorCode01>
	<errorCode02>02:业务类型代码不存在</errorCode02>
	<errorCode03>03:给定查询时间不合法</errorCode03>
	<errorCode04>04:查询数据库出现异常</errorCode04>
	<errorCode05>05:分页条数超过设定值</errorCode05>
	<errorCode06>06:查询出现异常</errorCode06>
	<errorCode07>07:查询记录总数超过允许值</errorCode07>
	<errorCode08>08:解析分页参数出现异常</errorCode08>
	<errorCode09>09:XML文件无法解析</errorCode09>
	<errorCode10>10:给定图片ID无法解析</errorCode10>
	<errorCode11>11:分页参数不合法</errorCode11>
	<errorCode12>12:识别记录ID不合法</errorCode12>
	<errorCode13>13:更新记录出现异常</errorCode13>
	<errorCode14>14:查询记录数超过允许排序值</errorCode14>
	<errorCode15>15:查询条件不符合</errorCode15>
</root>