<?xml version="1.0" encoding="UTF-8"?>
<root>
    <!-- 用于标识系统， 1.深圳交警   2.乌海   3.宝安/龙华-->
    <sysFlag>1</sysFlag>
	<!--
		日志存放文件目录 ,注意 Linux：/home/esLog/dyst/ windows：D:/esLog/dyst
	-->
	<logFolder>D:\\picLog</logFolder>
	<!-- 定时加载监测点  -->
	<getJcdTime>1800000</getJcdTime>


	<!-- ++++++++++++++++++mysql数据库配置信息++++++++++++++++++++++ -->
	<!--生产库mysql数据库用户名-->
	<user>root</user>
	<!--生产库mysql数据库密码
		深圳：jcbkzhzx110
	-->
	<pwd>jcbkzhzx110</pwd>
	<!--
		生产库mysql数据库URL,IP,端口号，实例名 
		深圳：10.42.127.81:3306
	-->
	<url>jdbc:mysql://10.42.127.81:3306/dc?useUnicode=true&amp;characterEncoding=utf-8</url>
	<!--生产库mysql数据库驱动-->
	<driver>com.mysql.jdbc.Driver</driver>
	<!--生产库mysql数据库连接池最大允许连接数-->
	<dbMaxCon>30</dbMaxCon>
	<!--生产库mysql数据库默认初始化连接数-->
	<dbInit>4</dbInit>
	<!-- 连接池连接超时时间，默认为10000毫秒 -->
	<dbtimeOut>1000</dbtimeOut>


	<!-- 图片地址查询时，一次性查询个数，即线程数，最佳配置为机器CPU数 -->
	<threadNum>10</threadNum>
	
	
	<!--
		+++++++++++++++++++++++++++接口查询中涉及到的错误码配置 +++++++++++++++++++++++++++
	-->
	<!-- 图片地址查询时，一次性查询个数，即线程数，最佳配置为机器CPU数 -->
	<errorCode01>01:调用单位不合法</errorCode01>
	<errorCode02>02:业务类型代码不存在</errorCode02>
	<errorCode03>03:给定查询时间不合法</errorCode03>
	<errorCode04>04:查询数据库出现异常</errorCode04>
	<errorCode05>05:分页条数超过设定值</errorCode05>
	<errorCode06>06:查询出现异常</errorCode06>
	<errorCode07>07:查询记录总数超过允许值</errorCode07>
	<errorCode08>08:解析分页参数出现异常</errorCode08>
	<errorCode09>09:XML文件无法解析</errorCode09>
	<errorCode10>10:给定图片ID无法解析</errorCode10>
	<errorCode11>11:分页参数不合法</errorCode11>
	<errorCode12>12:识别记录ID不合法</errorCode12>
	<errorCode13>13:更新记录出现异常</errorCode13>
	<errorCode14>14:查询记录数超过允许排序值</errorCode14>
	<errorCode15>15:查询条件不符合</errorCode15>
</root>