#top {
	width: 1000px;
	height:  120px;
}
#logo {
	width: 160px;
	height: 80px;
	border: 2px solid #eee;
}
#menu {
	width: 1000px;
	height: 30px;
	border: 2px solid #eee;
	margin-top: 2px;
}

#content {
	width: 1000px;
	height: 500px;
	margin-top: 5px;
	
}
#left {
	width: 200px;
	height: 500px;
	border: 2px solid #eee;
	float: left;
	background-color:blue;
}
#right {
	width: 780px;
	height: 500px;
	border: 2px solid #eee;
	float: right;
	background-color:yellow;
}

#bottom {
	width: 1000px;
	height: 30px;
	border: 2px solid #eee;
	margin-top: 5px;
}


/*Í·²¿*/
body{ font-family: Arial, Helvetica, sans-serif;font-size:12px; margin:0; padding:0; text-align:center; background:#F0EEFF}
form{ margin:0; padding:0;}
.header{ width:980px; margin:0 auto}
td{ font-size:13px}
.last{ font-size:12px; line-height:22px;}
.site{ background:url(/sjjcbk/images/site_bg.jpg) repeat-x; height:30px; border:1px #c3c3c3 solid}
.title{ background:url(/sjjcbk/images/table_16.jpg) repeat-x; height:15px; }
.table_bg{ background:url(images/bg.jpg) repeat-x}
.padding5{ padding:5px 0 5px 0}
.padding3{ padding:3px 0 3px 0; background:url(/sjjcbk/images/bg.jpg) repeat-x;  border-left:1px #fff solid"}
