@charset "utf-8";
body {
	font-family: "宋体";
	font-size: 12px;
	text-decoration: none;
}
.main_right{ width:696px; height:470px; background:url(/bk/image/right_bg.jpg) repeat; font-size:12px}
.main_right form{ width:690px; height:430px; text-align:center}
.left{ float:left}
.right{ float:right}
.main_right input{ height:20px; line-height:20px}
.font14{ font-size:14px}