@CHARSET "UTF-8";
.data_div{
	display:block;
	float:left;
	position:relative;
	width:40%;
	height:450px;
	margin:4px;
	overflow:auto;
}
.map_div{
	display:block;
	float:left;
	position:relative;
	width:58%;
	height:450px;
	margin:2px;
}
.layer_span:hover {
	color:#FF0000 !important;
}