@CHARSET "UTF-8";
.content{
	background-color: #F5F3F0;
}
/* 上面的div */
#main_div{
	height:350px;
	width:100%;
	margin:5px 0;
}
/* 显示大图的div */
#detail_lunbo{
	height:100%;
	width:47%;
	display: block;
    float: left;
    position: relative;
    margin:0 5px;
}
/* 大图左箭头div */
#detail_lunbo .pre{
	height:100%;
	width:30px;
	display: block;
    float: left;
    position: relative;
}
/* 大图左箭头图片div */
#detail_lunbo .left{
	background:url("../../images/arrows/left.png");
	width:100%;
	height:30px;
	margin:150px 0;
}
#detail_lunbo .left:hover{
	background:url("../../images/arrows/left_blank.png");
}
/* 大图片div */
#detail_lunbo .detail_pic_div{
	height:100%;
	width:450px;
	display: block;
    float: left;
    position: relative;
}
/* 大图 */
.detail_pic{
	width:100%;
	height:100%;	
	margin:0 10px;
}
/* 大图右箭头div */
#detail_lunbo .next{
	height:100%;
	width:30px;
	display: block;
    float: right;
    position: relative;
    border:0px;
}
/* 大图右箭头图片div */
#detail_lunbo .right{
	background:url("../../images/arrows/right.png");
	width:100%;
	height:30px;
	margin:150px 0;
}
#detail_lunbo .right:hover{
	background:url("../../images/arrows/right_blank.png");
}
.right_div{
	display:none;
	/* border:1px solid gray; */
	height:100%;
	width:47%;
	display: block;
    float: left;
    position: relative;
    margin:0 5px;
}

#bottom_div{
	height:110px;
	width:100%;
	margin:30px 0 0 0;
}
#gene_lunbo{
	height:90px;
	width:100%;
}

#gene_lunbo .pre{
	height:100%;
	width:30px;
	display: block;
    float: left;
    position: relative;
    border:0px;
}


#gene_lunbo .left{
	background:url("../../images/arrows/double_left.png");
	width:100%;
	height:30px;
	margin:30px 0;
}
#gene_lunbo .left:hover{
	background:url("../../images/arrows/double_left_blank.png");
}
#gene_lunbo .pre_zhan{
	height:100%;
	width:30px;
	display: block;
    float: left;
    position: relative;
}

#gene_lunbo .simple_gene_dic{
	height:100%;
	width:110px;
	display: block;
    float: left;
    position: relative;
    margin:0 4px;
}

#gene_lunbo .next{
	height:100%;
	width:30px;
	display: block;
    float: right;
    position: relative;
    border:0px;
}
#gene_lunbo .right{
	background:url("../../images/arrows/double_right.png");
	width:100%;
	height:30px;
	margin:30px 0;
}
#gene_lunbo .right:hover{
	background:url("../../images/arrows/double_right_blank.png");
}
.gene_dic{
	width:100%;
	heigth:100%;
	margin:3px 0;
}


img.gene_dic:hover{
    box-shadow:0 0 2px 2px #06c;
	border:1.5px solid #2cb7fe !important;
	display: block;
	text-decoration: none;
	cursor:pointer;
}
.page_number_div{
	height:20px;
	width:100%;
	text-align:right;
}