@CHARSET "UTF-8";
/*轮播控制*/
img.lunbo { border: 0px; width: 800px; height: 400px;}
.bannerbox {overflow: hidden; margin: 0px auto; }
#focus { 
	 width: 800px;
	 height: 400px; 
	 overflow: hidden; 
	 position: relative; 
	 float: left;
	 display: block;
}
#focus ul { width: 800px; height: 400px; float: left; position: absolute; clear: both; padding: 0px; margin: 0px; }
#focus ul li { float: left; width: 800px; height: 400px; overflow: hidden; position: relative; padding: 0px; margin: 0px; }
#focus .preNext { width: 400px; height: 400px; position: absolute; top: 0px; cursor: pointer; }
#focus .pre { left: 0; background: url(../../images/sprite.png) no-repeat left center; }
#focus .next { right: 0; background: url(../../images/sprite1.png) no-repeat right center; border: 0px solid #ededed;}


.button_blue{
	padding: 1px 6px;
    border: none;
    color: #fff;
    background: url("./../../images/submit_b.jpg") center no-repeat;
    border-radius: 6px;
    outline: none;
    cursor: pointer;
    margin: 0px 10px;
    border: 1px solid #fff;
}
.button_blue:hover{
	color: #555;
	background: url("./../../images/submit_g.jpg") center no-repeat;
}



