<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:dwr="http://www.directwebremoting.org/schema/spring-dwr"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans    
                        http://www.springframework.org/schema/beans/spring-beans-4.3.xsd    
                        http://www.springframework.org/schema/context    
                        http://www.springframework.org/schema/context/spring-context-4.3.xsd    
                        http://www.springframework.org/schema/mvc    
                        http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
                        http://www.springframework.org/schema/aop   
          				http://www.springframework.org/schema/aop/spring-aop-4.3.xsd 
          				http://www.directwebremoting.org/schema/spring-dwr 
       					http://www.directwebremoting.org/schema/spring-dwr-3.0.xsd">
	<aop:aspectj-autoproxy proxy-target-class="true"/>
	<!-- 开启注解 -->
	<mvc:annotation-driven/>
	<!-- 需要扫描的包 -->
	<context:component-scan base-package="com.cctsoft.*"/>

	<!--配置视图 -->
	<bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass">
			<value>org.springframework.web.servlet.view.InternalResourceView</value>
		</property>
		<property name="prefix" value="/WEB-INF/views/"></property>
		<!--JSP页面的后缀都是.jsp--> 
		<property name="suffix" value=".html"></property>
	</bean>
	
	<!-- DWR 配置 -->
	<dwr:configuration />
	<!-- 启用DWR 扫描，在类路径中检测 @RemoteProxy与@RemoteMethod注解的类 -->
	<dwr:annotation-config id="dwr"/>
	<!-- 实体类转换@DataTransferObject -->
	<dwr:annotation-scan base-package="com.cctsoft" scanDataTransferObject="true" scanRemoteProxy="true"/>
    <!-- 过滤请求，包含dwr的请求由dwrController处理 -->
    <bean class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
	     <property name="alwaysUseFullPath" value="true"/>
	     <property name="mappings">
	     <props>
	       <prop key="/dwr/**/*">dwrController</prop>
	     </props>
	     </property>
    </bean>  
   	<dwr:controller id="dwrController" debug="true">
		<dwr:config-param name="allowScriptTagRemoting" value="true" />
		<!-- 开启Reverse Ajax -->
		<dwr:config-param name="activeReverseAjaxEnabled" value="true" />
		<dwr:config-param name="classes" value="java.lang.Object"/>
		<!-- 不允许跨域请求 -->
		<dwr:config-param name="crossDomainSessionSecurity" value="false" />
		<!-- 通知DWR 在应用程序启动时初始化 ReverseAjaxTracker -->
		<dwr:config-param name="initApplicationScopeCreatorsAtStartup" value="true" />
		<!-- ScriptSession管理 -->
		<dwr:config-param name="org.directwebremoting.extend.ScriptSessionManager" value="com.cctsoft.dwrtest.utils.pushmsg.ScriptSessionManager" />
	</dwr:controller>
</beans>