<?xml version="1.0" encoding="UTF-8"?>
<root>
  <!--系统中文名称：深圳市公安局缉查布控系统-->   
  <sysTitle>深圳市公安局缉查布控系统</sysTitle> 
  
  <!-- 日志存放文件目录 ,注意
	    Linux：/home/dyst/logs/dc/
  -->
  <logFolder>/home/dyst/logs/dc/</logFolder> 

  <!-- 短信接口 地址 
  	   	 深圳市局：http://10.42.127.81:8989/interface/services/interfaceService
  -->
  <messageWebservice>http://10.42.127.81:8989/interface/services/interfaceService</messageWebservice>
  <!-- 是否需要登录验证码：1有效     0无效 -->
  <dlyzmFlag>0</dlyzmFlag>
  
  <!-- 图片查询和识别数据查询接口 地址
  	    http://10.42.31.224:8080/dyst/services/InAccess
  	    http://192.168.1.119:8090/dyst/services/InAccess
  -->
  <sbPicWebservice>http://10.42.31.224:8080/dyst/services/InAccess</sbPicWebservice>
  <!-- 地址映射  过车图片100.100.37.37:10.42.31.224 -->
  <dzys1>100.100.37.37:10.42.31.224</dzys1><!-- 接口 -->
  <maxOrder>100000</maxOrder>
  
  <!-- 深圳本地车架管接口 
  	   公安网：http://10.42.31.101:8080/GdCjg/Service.asmx
  	   交警网：http://100.100.36.201:8080/GdCjg/Service.asmx
  -->
  <cjgWebservice>http://10.42.31.101:8080/GdCjg/Service.asmx</cjgWebservice>
  <gacjgWebservice>http://10.40.30.5:9080/jkpt/services/jgjws?wsdl</gacjgWebservice>
  
  <!-- 省厅接口地址  http://10.40.28.196:9080/jcbk/service/OutAccess-->
  <stInterface>http://10.40.28.196:9080/jcbk/service/OutAccess</stInterface>
   <!-- 省厅接口开关（0关   1开）     结构定义        布控开关:撤控开关:预警签收:预警反馈   -->
  <stInterfaceFlag>1:1:1:1</stInterfaceFlag>
  
  <!-- 帮助文档存放路径 -->
  <helpDocDir>/home/dyst/files</helpDocDir>
  <!-- 帮助文档访问服务名 uploadfiles  -->
  <helpDocPath>uploadfiles</helpDocPath>
  
  <!-- 系统公告文档存放路径 -->
  <sysAnnDocDir>/home/dyst/sysAnnFiles</sysAnnDocDir>
  <!-- 系统公告文档  访问服务名 -->
  <sysAnnouncement>uploadSysAnnfiles</sysAnnouncement>
  
  <!-- 问题反馈上传图片路径 -->
  <bugPicDir>/home/dyst/bugPic</bugPicDir>
  <!-- 问题反馈上传图片 访问服务名 -->
  <bugPicPath>uploadBugPic</bugPicPath>
  
  <!-- pki -->
  <authURL>http://10.42.2.24:6180/MessageService</authURL><!-- pki网关服务地址 -->
  <appId>zhbjcbkxt</appId><!-- pki应用标示 -->
  <attrType>all</attrType><!-- 获取属性列表控制项 none：不获取属性；all 获取全部属性 ；portion 获取指定属性-->
  <attributes>_saml_pki_cert_subject;X509Certificate.SubjectDN;role;privilege</attributes><!-- 获取属性列表控制项  attrType 值为portion时 获取查询指定属性   当且仅当attrType为portion时有效-->
  
  <!-- 是否实时更新用户部门数据：1有效     0无效 -->
  <updateUserDeptFlag>1</updateUserDeptFlag>
  <!-- 是否动态勤务数据：1有效     0无效 -->
  <updateDynamicService>1</updateDynamicService>
  <!-- 更新时间范围（以当前时间为准，更新前N分钟的数据）   单位：分钟-->
  <updateDynamicServiceTime>10</updateDynamicServiceTime>
  <!-- 是否实时读取预警：1有效     0无效 -->
  <isReadWarn>1</isReadWarn>
  <!-- 预警读取kafka的topic名      ssyj_out-->
  <earlyWaringTopicName>ssyj_out</earlyWaringTopicName>
  <!-- 是否实时读取订阅：1有效     0无效 -->
  <isReadSubscription>1</isReadSubscription>
   <!-- 订阅读取kafka的topic名      dysscx_out-->
  <subscriptionTopicName>dysscx_out</subscriptionTopicName>
  <!-- 是否读取实时过车数据：1有效     0无效 -->
  <isReadVehicleData>1</isReadVehicleData>
  <!-- 实时过车数据kafka的topic名     CarCardDataSource-->
  <realVehicleDataTopicName>CarCardDataSource</realVehicleDataTopicName>
  
  <!-- 伴随分析中用到的默认参数配置 -->
  <!-- 默认的同行阈值 -->
  <defaultTxyz>3</defaultTxyz>
  <!-- 判断两条记录是否可以组成轨迹 -->
  <interval>3600000</interval>
</root>