<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">  
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/' >  
    <!-- debug输出-->  
    <appender name="DEBUG" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="/home/logs/debug.log"/>
        <param name="Append" value="false"/>
        <param name="MaxFileSize" value="10000KB"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss\} %-5p] [%t] {%c:%L}-%m%n"/>
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
	        <param name="LevelMin" value="DEBUG" />
	        <param name="LevelMax" value="ERROR" />
        </filter>
    </appender>
     <!-- info&warn输出-->  
     <appender name="INFO" class="org.apache.log4j.DailyRollingFileAppender">
	   	<param name="encoding" value="UTF-8"></param>
        <param name="ImmediateFlush" value="true"></param>
        <param name="File" value="/home/logs/info/info"></param>
        <param name="DatePattern" value="'_'yyyy-MM-dd'.log'"></param>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                   value="[%d{yyyy-MM-dd HH:mm:ss\} %-5p] [%t] {%c:%L}-%m%n"></param>
        </layout>
	    <filter class="org.apache.log4j.varia.LevelRangeFilter">
	    	<param name="LevelMin" value="INFO" />
	    	<param name="LevelMax" value="WARN" />
	    </filter>
    </appender>
     <!-- error输出-->  
    <appender name="ERROR" class="org.apache.log4j.DailyRollingFileAppender">
	    <param name="encoding" value="UTF-8"></param>
        <param name="ImmediateFlush" value="true"></param>
        <param name="File" value="/home/logs/error/error"></param>
        <param name="DatePattern" value="'_'yyyy-MM-dd'.log'"></param>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                   value="[%d{yyyy-MM-dd HH:mm:ss\} %-5p] [%t] {%c:%L}-%m%n"></param>
        </layout>
	    <filter class="org.apache.log4j.varia.LevelRangeFilter">
	    	<param name="LevelMin" value="ERROR" />
	    	<param name="LevelMax" value="ERROR" />
	    </filter>
    </appender>
    <appender name="KAFKA" class="kafka.producer.KafkaLog4jAppender">
    	<param name="encoding" value="UTF-8"></param>
    	<param name="topic" value="log4j"></param>
    	<param name="brokerList" value="192.168.1.53:9092"></param>
    	<param name="compressionType" value="none"></param>
    	<param name="syncSend" value="true"></param>
    	<layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                   value="[%d{yyyy-MM-dd HH:mm:ss\} %-5p] [%t] {%c:%L}-%m%n"></param>
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
	    	<param name="LevelMin" value="INFO" />
	    	<param name="LevelMax" value="INFO" />
	    </filter>
    </appender>
     <!--  category 部分定义了特定包或者类的输出级别和方式，可以有多个 -->
   <!-- <category name="org.apache">
       <priority value="warn"/>
       <appender-ref ref="WARN"/>
    </category> -->
    <!--  root部分定义了log4j的默认输出级别和方式 -->
    <root>
        <priority value="INFO"/>
        <appender-ref ref="INFO"/>
        <appender-ref ref="ERROR"/>
    </root> 
</log4j:configuration> 