li{ list-style: none;}
ul.nav li{ width: 100px; text-align:center;}
ul.nav > li{ float: left; margin-right:10px;}
ul.nav li h5{height: 40px; line-height: 40px;}
ul.nav > li > h5{ }
ul.nav > li > ul > li h5{ background: #d0d0d0;}
ul.nav > li h5:hover,.choice{ background: #808080!important;}
ul > li > ul{ display: none;}
ul > li.on > ul{ display: block;}
ul.nav li{ position: relative;}
ul.nav > li > ul > li ul{ position:  absolute; top: 0; right: -100px;}
ul.nav span.sub{ position: absolute; display: block; right:10px; top: 0; width: 10px; height: 40px; background: url(../images/indexJsp_arrows.png) no-repeat center center;}