/*这是基础数据添加修改的CSS文件*/
#divMain{
	margin-left: 240px;
}
#divTitle{
	width: 880px;
	height: 40px;
	line-height: 40px;
	border: 1px solid #d0d0d0;
	background: url(/dc/common/images/bg_btns.png) repeat-x 0px -132px;
}
#spanTitle{
	margin-left: 18px;
	font-weight: 900;
	font-family: "Microsoft YaHei";
	font-size: 16px;
}
#divBody{
	width: 880px;
	/* height: 430px; */
	border-left: 1px solid #d0d0d0;
	border-right: 1px solid #d0d0d0;
	border-bottom: 1px solid #d0d0d0;
	margin-bottom: 100px;
}
#tableForm{
	line-height: 50px;
}
.tdText{
	width: 300px;
	text-align: right;
	font-family:"Microsoft YaHei";
	font-size: 16px;
}
.tdInput{
	width: 250px;
}
.tdError{
	width: 300px;
	text-align: left;
	font-family:"Microsoft YaHei";
	font-size: 16px;
}
.inputClass{
	width: 240px;
	height: 32px;
	border: 1px solid #7f9db9;
	line-height: 32px;
	padding-left: 10px;
}

.errorClass{
	background: url(/dc/common/images/error.png) no-repeat;
	color: #f40000;
	padding: 5px 10px 10px 32px;
}






